server:
  port: 9000

spring:
  main:
      allow-circular-references: true
  datasource:
      url: jdbc:h2:mem:mydb
      username: sa
      password: password
      driver-class-name: org.h2.Driver

  jpa:
    spring.jpa.database-platform: org-.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console



jwt:
  secret: Shop_Online_jwt_secret_key
  expiration: 36000000 # Example: 10 hours in milliseconds
#  expiration: 20000 # Example: 20 seconds